<app-topbar (buttonClick)="toggleAddCategory(true)"></app-topbar>

<app-popover [title]="'New Category'"
             [show]="showAddPanel"
             (buttonClick)="toggleAddCategory(false)">

    <form (ngSubmit)="addCategory()">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Category name"
                   max="30"
                   required
                   name="category"
                   #categoryField
                   autofocus
                   [autofocus]="true"
                   [(ngModel)]="categoryName">
        </div>

        <p *ngIf="submitError" class="text-danger text-s">
            <i class="fa fa-exclamation-circle pr-2"></i>
            <small>{{ submitError }}</small>
        </p>

        <div class="text-center">
            <button type="submit" class="btn btn-primary pl-5 pr-5">Add</button>
        </div>
    </form>
</app-popover>


<div class="ml-content-container">
    <div *ngIf="categories.length === 0" class="text-center pt-5 text-muted">
        No Categories<br>
        <button class="btn btn-link" (click)="toggleAddCategory(true)">Add...</button>
    </div>


    <div *ngFor="let category of categories ; let i=index;" class="list-group">
        <app-list [category]="category"
                  [itemIndex]="i"
                  [latestName]="newItem"
                  (editClick)="editCategory($event)"
                  (deleteClick)="deleteCategory($event)"></app-list>
    </div>
</div>
