.ml-citem-bar {
    display: flex;
    opacity: 0.2;

    &.active {
        opacity: 1;
    }
}

.ml-new-hl {
    &:before {
        content: '';
        background-color: rgba(64, 62, 62, 0.5);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(0.001, 0.001);
        animation: new-item-effect 2s ease-out;
    }
}

@keyframes new-item-effect {
    50% {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
    99% {
        transform: scale(0.001, 0.001);
        opacity: 0;
    }
    100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}
