<div class="list-group-item d-flex align-items-center" [ngClass]="{ 'ml-new-hl': category === latestName}">
    <div id="{{ itemIdPrefix + itemIndex }}" class="flex-grow-1">{{ category }}</div>

    <div class="pr-4">
        <div id="{{ fieldIdPrefix + itemIndex }}" class="input-group input-group-sm d-none">
            <input type="text"
                   class="form-control"
                   aria-label="Name"
                   (keydown)="attachActions($event)"
                   [attr.aria-describedby]="'button-addon'+ itemIndex"
                   [(ngModel)]="category"
                   #categoryInput>

            <div class="input-group-append" id="button-addon{{ itemIndex }}">
                <button (click)="onEditClick()" class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-check"></i>
                </button>
                <button (click)="toggleEditField(false)" class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-remove"></i>
                </button>
            </div>
        </div>
    </div>


    <div class="ml-citem-bar"
         (mouseenter)="itemOver($event)"
         (mouseleave)="itemOut($event)">

        <ng-content></ng-content>
        <button (click)="toggleEditField(true)" class="btn btn-link"><i class="fa fa-pencil"></i></button>
        <button (click)="onDeleteClick(category)" class="btn btn-link"><i class="fa fa-trash"></i></button>
    </div>
</div>
