<div class="d-flex justify-content-between ml-dark-panel">
    <div class="ml-logo">
        <img width="100px" alt="My Locations" src="assets/images/logo.svg">
    </div>
    <div class="ml-topbar-title">
        {{ title }}
    </div>
    <div class="ml-topbar-action">
        <button class="btn btn-link" (click)="onButtonClick()"><i class="fa fa-plus"></i></button>
    </div>
</div>
