// overrides bootstrap Variables
$primary: $primary-color;
$font-family-sans-serif: $dark-base-font;
$body-bg: #483e52;
$list-group-bg: transparent;
$list-group-border-color: $background-color-light;
$list-group-border-radius: 0;
