<div class="ml-dark-layout ml-phone-layout">

    <!--    content-->
    <div class="ml-content">
        <router-outlet></router-outlet>
    </div>


    <!--    footer-->
    <div class="ml-dark-panel ml-footer">
        <ul class="nav nav-fill">
            <li class="nav-item">
                <a routerLink="/category" routerLinkActive="active" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
                <a routerLink="/location" routerLinkActive="active" class="nav-link">Locations</a>
            </li>
        </ul>
    </div>
</div>
