.ml-phone-layout {
    width: 375px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .ml-content{
        flex: 1 0 auto;
        height: 100%;
        overflow: hidden;
    }
}

@media (min-width: 500px) {
    .ml-phone-layout {
        margin-top: 30px;
        height: 660px;
    }
}

.ml-footer {
    flex-shrink: 0;
}


