html, body {
    height: 100vh;
}

app-root {
    display: flex;
    justify-content: center;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.ml-content-container {
    height: 100%;
    overflow-y: auto;
}

// TODO : possible to use JS to style it in all browsers
.ml-content-container::-webkit-scrollbar {
    width: 10px;
}

.ml-content-container::-webkit-scrollbar-track {
    background-color: lighten($background-color-light, 10%);
}

.ml-content-container::-webkit-scrollbar-thumb {
    background-color: #4a2c34;
}

.ml-dark-layout {
    color: $font-color;
    background-color: $background-color;
}

.ml-dark-panel {
    background-color: $background-color-light;
}

.ml-footer {
    flex-shrink: 0;

    .nav-link {
        color: $text-muted;
    }

    .nav-link.active,
    .nav-link:hover {
        color: $primary-color;
    }
}
