.ml-citem-bar {
    > button {
        color: $text-muted;
        transition: color 200ms linear;
    }

    &.active {
        > button {
            color: $primary-color;

            &:hover {
                background-color: $background-color-light;
            }
        }
    }
}
