$top-hide: -268px;
$top-show: 1px;

.ml-popup {
    position: relative;
    left: 0;
    width: 100%;
    overflow: hidden;
    top: $top-hide;
    height: 0;
}

.ml-popup-title {
    font-size: 0.90rem;
    padding: 11px 0 0 10px;
}

.ml-popup-expand {
    top: $top-show;
    height: 200px;
    animation: fallIn 300ms linear;
}

@keyframes fallIn {
    0% {
        top: $top-hide;
        height: 0;
        opacity: 0;
    }
    40% {
        top: $top-show;
        height: 0;
        opacity: 0;
    }
    42% {
        height: 50px;
        opacity: 1;
    }
    100% {
        top: $top-show;
        height: 200px;
        opacity: 1;
    }
}
