<div [ngClass]="visibilityCss" class="ml-popup ml-dark-panel">
    <div class="d-flex justify-content-between">
        <div class="ml-popup-title">{{ title }}</div>
        <button (click)="onButtonClick()" class="btn btn-link"><i class="fa fa-remove"></i></button>
    </div>
    <div class="p-2">
        <ng-content></ng-content>
    </div>
</div>
